@import url(estilo/header.css);
@import url(estilo/nav.css);
@import url(estilo/main.css);
@import url(estilo/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root{
    --cor-primaria: rgb(25, 36, 25);
    --cor-principal:#301010;
    --cor-secundaria:#b7dd5e;
    --font-primaria:'roboto', sans-serif;
}

body{
    background-color: rgb(44, 130, 58);
}

h1{
    color: var(--cor-principal);
    font-family: var(--font-primaria);
}